.container {
  //min-height: 100vh;
}

.personal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}

.greeting {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.question {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
}

.image {
  .javascript, .typescript{
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
	  -webkit-backface-visibility: hidden;
  }

  .typescript {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
}

.image .flipper {
  margin: 0 10px;
  width: 40px;
  height: 40px;
	animation: flipY 10s infinite;
  transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

@keyframes flipY{
  from {
      -webkit-transform: rotateY(180deg);
  }
  
  to {
      -webkit-transform: rotateY(-180deg);
  }
  
}

.tech_container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}