.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.description {
  
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}