.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 50px;
    transition: .2s;
}

.container:hover {
    transform: scale(1.2);
}