.container {
    margin: 10px;
    font-size: 16px;

    a {
        color: white;
        text-decoration: none;
        
    }
    :hover {
        font-size: 20px;
    }
    
    
}

.container:last-child {
    padding-right: 50px;
}

.active{
    a {
        color: silver;
        font-size: 12px;
        pointer-events: none;
    }
}